click==7.1.2
essentia
Flask==1.1.4
funcsigs==1.0.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mock==3.0.5
numpy==1.16.6
protobuf==3.17.3
PyYAML
scipy==1.2.3
six
tensorflow
Werkzeug==1.0.1
tqdm